/* Google font import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ====== COLORS ======= */
    --body-color: #f3f3f3;
    --sidebar-color: #fff;
    --primary-color: #25064c;
    --primary-color-light: #f6f5ff;
    --toogle-color: #ddd;
    --text-color: #707070;
    --error-color: #d9480f;

    /* ====== TRANSITION ========= */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-02);
    position: relative;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar.close .text {
    opacity: 0;
}

.sidebar.close .image-text {
    opacity: 0;
}

/* ===== Sidebar ==== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

.sidebar.close {
    width: 78px;
    .icon {
        min-width: 40px;
        min-height: 40px;
    }
    li a:hover {
        background: var(--sidebar-color);
    }
    .icon:hover {
        background: var(--primary-color);

        border-radius: 6px;
    }
    .dropdown-toggle::after {
        opacity: 0;
    }
}

.sidebar header {
    position: relative;
}
.sidebar .image-text {
    margin-bottom: 20px;
}
.sidebar .image-text img {
    height: auto;
    width: 195px;
    border-radius: 6px;
    margin-top: 5px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
}

.sidebar .menu-bar {
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .menu-bar ul {
    padding: 0 !important;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    min-width: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tran-02);
}

.sidebar li .text {
    color: var(--primary-color);
    transition: var(--tran-02);
}
.sidebar li .icon {
    color: var(--primary-color);
    transition: var(--tran-02);
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
}
.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}
.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-02);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.toggle-switch .switch {
    height: 22px;
    width: 44px;
    background: var(--toogle-color);
    position: relative;
    border-radius: 25px;
}

.switch::before {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    background: var(--sidebar-color);
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    transition: var(--tran-03);
}

.nav-text {
    position: relative;
}
.dropdown-item {
    transition: var(--tran-03);
    color: var(--text-color);
}
.dropdown-item:hover {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
}
.dropdown-toggle::after {
    color: var(--primary-color);
    position: absolute;
    right: 20px;
    transition: var(--tran-02);
}

.dropdown-toggle:hover::after {
    color: var(--sidebar-color);
}

// -- =========== Main ================ --//
main {
    position: absolute;
    left: 260px;
    width: calc(100% - 280px);
    margin: auto;

    .page-item.active .page-link {
        background-color: var(--primary-color) !important;
        border-color: var(--primary-color) !important;
    }
}

main {
    transition: var(--tran-03);
}
main.open {
    left: 88px;
}

.btn-mcb:hover {
    background-color: var(--primary-color) !important;
    color: var(--sidebar-color) !important;
}
.btn-mcb {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.card-header {
    background-color: var(--primary-color) !important;
    color: var(--sidebar-color);
}

// ======== SECTIONS =============
.errorMessages {
    font-size: small;
    margin-top: 5px;
    color: var(--error-color);
}
