.base-body {
    background-color: #f1f1f1;
    .base-header {
        background-color: #fff;
        nav {
            div {
                a {
                    .logo--welcome {
                        width: 250px;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .base-body {
        .base-header {
            nav {
                div {
                    a {
                        .logo--welcome {
                            width: 320px;
                            height: auto;
                        }
                    }
                }
            }
        }
        .nav-link {
            color: rgba(37 6 76 / 100%) !important;
            font-weight: bold;
            font-size: medium;
        }
        .nav-link:hover {
            font-weight: lighter;
            text-decoration: overline;
        }
    }
}
