// Index Last Clients
.home-clients-list {
    h3 {
        text-align: center;
        font-weight: 700;
        color: var(--primary-color);
        margin-top: 20px;
    }
}

#tableContacts {
    max-width: 880px;
    th,
    td {
        color: var(--primary-color);
    }
}

.page-link {
    color: var(--text-color);
}

// CREATE
.container {
    .row {
        header {
            background-color: var(--primary-color);
            padding: 20px;
            h3 {
                color: var(--sidebar-color);
                font-size: 20px;
            }
        }

        .form-label {
            font-size: 14px;
            font-weight: 700;
            color: var(--primary-color);
        }
        .form-check-label,
        select {
            color: var(--primary-color);
        }
    }
}

// SHOW
#showClient {
    margin-top: 10vh;
}
// Modal Edit
.modal-body {
    p {
        font-size: 16px;
        color: var(--primary-color);
    }
    .row {
        align-items: center;
        div {
            .form-text {
                font-size: 1.1em;
                color: var(--primary-color);
            }
        }
    }
}
.modal-header {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    .btn-close {
        color: var(--sidebar-color) !important;
    }
}
