.page-link {
    color: #363b3b;
}
.btn-sm {
    font-size: 0.6rem;
}
.btn-novo-cliente {
    font-weight: bold;
    font-size: 0.7rem;
    align-self: center;
}

.modal-title {
    #clientDetailsModalTitle {
        color: #212529;
    }
}

.home-container {
    padding: 30px 0 40px;
    margin-left: auto;
    margin-right: auto;

    .row {
        ::before {
            display: table;
            content: "";
        }
        margin-right: -9px;
        margin-left: -9px;
    }
}
.home-clients-list,
.home-orders-list,
.home-quick-links {
    h3 {
        text-align: center;
        font-weight: 700;
    }
}

#inputComment {
    background-color: #fff;
}
.home-quick-links {
    div {
        background-color: #fff;
        border: 1px solid #d7d7d7;
        border-top: none;
        ul {
            list-style-type: none;
            padding-right: 40px;
            li {
                display: list-item;
                border-bottom: 1px solid #f1f1f1;
                margin-bottom: 20px;
                a {
                    display: block;
                    padding: 15px;
                    color: #363b3b;
                    text-decoration: none;
                    background-color: transparent;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.row-link {
    display: block;
    text-decoration: none;
    color: #363b3b;
}

tr {
    cursor: pointer;
}

.card-header {
    background-color: #363b3b;
    color: #fff;
}
