.card-body {
    background-color: #f1f1f1;
    .form-label {
        font-size: 14px;
        font-weight: 700;
    }
}

#plusButton {
    align-self: center;
    path {
        color: black;
    }
}

#occupationModal {
    .modal-header {
        display: block;
        background-color: transparent;
        padding: 0%;
        border-bottom: none;
    }
    .form-label {
        color: #363b3b;
        font-weight: 700;
        font-size: 14px;
    }
}

#select-provider-button {
    height: 25px;
}
